html
  head
    title Page d'Accueil

  body
    h1 Bienvenue sur notre site d'authentification
    p Veuillez vous inscrire ou vous connecter pour accéder à nos fonctionnalités.

  

    // Formulaire de Connexion
    h2 Connexion
    form(action="/login" method="post")
      label(for="username") Nom d'utilisateur
      input(type="text" id="username" name="username" required)

      label(for="password") Mot de passe
      input(type="password" id="password" name="password" required)

      button(type="submit") Se Connecter
